html, body{
    margin: 0;
    padding: 0;
}

p{
    text-align: justify;
}
#box{
    width: 1000px;
    height: auto;
    margin: auto;
}
#header{
    background-color: #cd9797;
    padding: 20px;
}
#menubar{
    background-color: #ecd8d8;
    padding: auto;
}
.teksmenu{
    text-decoration: none;
}
#content{
    padding: 20px;
}
#footer{
    background-color: #ecd8d8;
    padding: 20px;
}