html, body{
    margin: 0;
    padding: 0;
}

p{
    text-align: justify;
}
#box{
    width: 1000px;
    height: auto;
    margin: auto;
}
#header{
    background-color:rgb(214, 117, 117);
    padding: 20px;
}
#menubar{
    background-color: #e4cdcd;
    padding: auto;
}
.teksmenu{
    text-decoration: none;
}
#content{
    padding: 20px;
}
#footer{
    background-color: #e4cdcd;
    padding: 20px;
}
#menubar a{
    text-decoration : none;
    color: #890505 ;
    
}
#menubar a:hover{
    color : #d16a6a ;
}
.teksmenu{
    text-decoration: none;
}

#content{
    padding: 20px;
}

#footer{
    background-color:  #e3d3cb;
    padding: 20px;
}
